# Ustreamのチャンネル名
channels: 
    - momoclotv

# Ustream APIのデベロッパーキー
key: 

# メール宛先
mail_to: 

# メール経由先
mail_address: smtp.gmail.com
mail_port: 587
mail_user_name: 
mail_password: 
mail_domain: gmail.com

